/*--------------------------------------------------------------
## slider-test
--------------------------------------------------------------*/
.slider-test {
	padding: 70px 0;

	.slick-slide {
		outline: 0;

		img {
			width: 100%;
			display: block;
		}
	}

	@include mq($md) {
		padding: 35px 0;
	}
}
