/*--------------------------------------------------------------
## latest-products-test
--------------------------------------------------------------*/
.latest-products-test {
	padding: 60px 0;
	outline: 0;
	img {
		width: 100%;
		display: block;
	}

	@include mq($md) {
		padding: 35px 0;
	}

}

.latest-product-test__item {
	padding: 15px;
}

.latest-products-test__title {
	margin-bottom: 30px;

	@include mq($lg) {
		margin-bottom: 20px;
	}
}

.latest-products-test__item-content {
	padding: 20px 15px;
	border: 1px solid rgba($black, 0.2);
	border-top: 0;
}

.latest-products-test__item-thumb {
	display: block;
	overflow: hidden;

	@include hover {
		.latest-product-test__item-thumb {
			transform: scale(1.05);
		}
	}
}

.latest-products-test__item-thumb {
	transition: 0.2s ease-in-out;
}

.latest-products-test__item-title {
	margin-bottom: 10px;

	a {
		transition: 0.2s ease-in-out;
	}

	@include hover {
		a {
			color: $green;
		}
	}
}


.latest-products-test__item-desc {
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 12px;
}
